* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: System-ui;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #EEE;
}

::-webkit-scrollbar-thumb {
  background-color: #0075ff;
  border-radius: 6px;
}

.container {
  position: relative;
  width: 450px;
  max-width: 100%;
  background-color: #f1f5f9;
  background-color: #e1e1e1;
  background-color: #F2F2F2;
  border-radius: 6px;
  height: calc(100vh);
  padding: 0px;
}

.container>div {
  width: 100%;
}

.hide {
  display: none !important;
}

.container .home {
  padding: 20px;
}

.container .home label {
  margin-bottom: 5px;
}

.container form .eye {
  position: absolute;
  right: 15px;
  bottom: 10px;
  background-color: #FFF;
  color: #666;
  cursor: pointer;
  transition: .3s;
}

.container form .eye.active {
  color: black;
}


.container form .route span {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

.container .head {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.container .user-chat {
  padding-top: 85px;
}

.container .user-chat .head {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.container :is(.chats, .user-chat) :is(input, textarea):focus {
  box-shadow: 0 0 0 !important;
}

.container :is(.chats, .user-chat) img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #EEE;
}


.container .chats :is(.users, .search-result) .user {
  cursor: pointer;
  padding: 10px;
  user-select: none;
  overflow: hidden;
  position: relative;
  transition: .3s;
}

.container .chats .user[online="true"] .image {
  position: relative;
}

.container .chats .user[online="true"] .image::before {
  content: '';
  position: absolute;
  right: 4px;
  bottom: 1px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: green;
}

.container .chats .user[online="notActive"] .image::before {
  background-color: #034ea3;
}

.container .chats :is(.users, .search-result) .user:hover {
  background-color: #DDD;
}

.container .chats .user.not-seen::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0075ff;
  right: 5px;
  top: 50%;
  margin-top: -2px;
}

.container .chats :is(.users, .search-result) .user>* {
  pointer-events: none;
}

.container .chats .users img {
  width: 45px;
  height: 45px;
}


.container .chats .users .time {
  min-width: 70px;
  font-size: 13px;
  text-align: end;
}

.container .chats .users .message {
  font-size: 14px;
}

.container .user-chat i {
  pointer-events: none;
}

.container .user-chat .messages {
  height: calc(100% - 40px);
  overflow-y: scroll;
  margin: auto;
  padding: 5px;
}

.container .user-chat .messages .date {
  background-color: #151414;
  padding: 10px;
  width: fit-content;
  margin: 15px auto;
  color: white;
  border-radius: 6px;
}

.container .user-chat .messages .message {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  margin: 15px 0;
  width: 90%;
}

.container .user-chat .messages .message.outgoing {
  flex-direction: row-reverse;
  margin-left: auto;
}

.container .user-chat .messages .message .info {
  min-width: 50px;
  text-align: center;
}

.container .user-chat .messages .content {
  padding: 8px;
  border-radius: 6px;
  color: white;
}

.container .user-chat .incoming .content {
  background-color: #666;
}

.container .user-chat .outgoing .content {
  background-color: #034ea3;
}

.container .user-chat .messages .info img {
  width: 30px;
  height: 30px;
}

.container .user-chat .messages .info .time {
  font-size: 12px;
}

.container .user-chat .input-group {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}

.container .user-chat .input-group textarea.message-input {
  resize: none;
  height: 28px;
}


/* ********************* Loader ********************* */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(15px);
  border-radius: 6px;
  z-index: 9999;
}



.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}