* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: System-ui;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #EEE;
}

::-webkit-scrollbar-thumb {
  background-color: #0075ff;
  border-radius: 6px;
}

.container {
  position: relative;
  width: 450px;
  max-width: 100%;
  background-color: #f1f5f9;
  margin: 10px auto;
  border-radius: 6px;
  height: calc(100vh - 20px);
  padding: 0px;
  /* overflow-y: scroll; */
}

.container>div {
  width: 100%;
}

.container .hide {
  display: none !important;
}

.container .home {
  padding: 20px;
}

.container .home label {
  margin-bottom: 5px;
}

.container form .eye {
  position: absolute;
  right: 15px;
  bottom: 10px;
  background-color: #FFF;
  color: #666;
  cursor: pointer;
  transition: .3s;
}

.container form .eye.active {
  color: black;
}

.container form .eye:hover {
  color: black;
}

.container form .route span {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

.container .head {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.container :is(.chats, .user-chat) input:focus {
  box-shadow: 0 0 0 !important;
}

.container :is(.chats, .user-chat) img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #EEE;
}


.container .chats :is(.users, .search-result) .user {
  cursor: pointer;
  padding: 10px;
  user-select: none;
  overflow: hidden;
  transition: .3s;
}

.container .chats :is(.users, .search-result) .user:hover {
  background-color: #DDD;
}

.container .chats :is(.users, .search-result) .user>* {
  pointer-events: none;
}

.container .chats .users img {
  width: 45px;
  height: 45px;
}

.container .chats .users .time {
  min-width: 70px;
}

.container .chats .users :is(.time, .message) {
  font-size: 15px;
}

.container .user-chat i {
  pointer-events: none;
}

.container .user-chat .messages {
  height: calc(100% - 122px);
  overflow-y: scroll;
  margin: auto;
  padding: 10px;
}

.container .user-chat .messages .message {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  margin: 15px 0;
  width: 90%;
}

.container .user-chat .messages .message.outgoing {
  flex-direction: row-reverse;
  margin-left: auto;
}

.container .user-chat .messages .message .info {
  min-width: 50px;
  text-align: center;
}

.container .user-chat .messages .content {
  padding: 8px;
  border-radius: 6px;
  background-color: red;
  color: white;
}

.container .user-chat .incoming .content {
  background-color: #666;
}

.container .user-chat .outgoing .content {
  background-color: #0075ff;
}

.container .user-chat .messages .info img {
  width: 30px;
  height: 30px;
}

.container .user-chat .messages .info .time {
  font-size: 12px;
}

.container .user-chat .input-group {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}